<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #004AAD;">
  <div class="container-fluid">
    <!-- Logotipo o nombre del sitio -->
    <a class="navbar-brand" href="#">Gestión de Préstamos</a>

    <!-- Botón de alternancia para menú en pantallas pequeñas -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenedor del menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Lista de elementos del menú -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Elemento de menú desplegable -->
        <li class="nav-item dropdown">
          <button class="btn  dropdown-toggle" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="color: #004AAD; background-color: white;">
            {{ queztalesSelected }}
        </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li (click)="setQueztales('#000000', 'Euros')">
              <a class="dropdown-item" href="#">
                <i [style.color]="queztalesIconColor"></i>Euros
              </a>
            </li>
            <li (click)="setQueztales('#000000', 'Dólar')">
              <a class="dropdown-item" href="#">
                <i  [style.color]="queztalesIconColor"></i>Dólar
              </a>
            </li>
            <li (click)="setQueztales('#000000', 'Quetzales')">
              <a class="dropdown-item" href="#">
                <i  [style.color]="queztalesIconColor"></i>Quetzales
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Estructura general de la página -->
<div class="main-container d-flex">
  <!-- Barra lateral -->
  <div class="sidebar" id="side_nav">
    <!-- Encabezado de la barra lateral -->
    <div class="header-box px-3 pt-3 pb-4">
      <!-- Botón para cerrar la barra lateral en pantallas pequeñas -->
      <button class="btn d-md-none d-block close-btn px-1 py-0 text-white "><i class="fa-solid fa-bars"></i></button>
    </div>

    <!-- Lista de enlaces en la barra lateral -->
    <ul class="list-unstyled px-3">
      <!-- Elemento de enlace con clase "active" si "activeItem" es igual a 'calculadora' -->
      <li [class.active]="activeItem === 'calculadora'">
        <!-- Enlace con evento de clic que establece "activeItem" -->
        <a href="#" (click)="setActiveItem('calculadora')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-calculator"></i>Calculadora</a>
      </li>
      <!-- Otros elementos de enlace similares -->
      <li [class.active]="activeItem === 'detalles'">
        <a href="#" (click)="setActiveItem('detalles')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-list-check"></i>Detalles</a>
      </li>
      <li [class.active]="activeItem === 'solicitar'">
        <a href="#" (click)="setActiveItem('solicitar')" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-plus"></i>Solicitar</a>
      </li>
    </ul>
    <hr class="h-color mx-3">
  </div>
  <div class="content"></div>
</div>